@model Controle_De_OS.Models.Tecnico

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>

<h3>Esse dado será excluido permanentemente, deseja continuar?</h3>
<div>
    <h4>Tecnico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedimento.descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
