@model IEnumerable<Controle_De_OS.Models.Atendente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo_atendente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_atendente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idatendente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idatendente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idatendente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
